.error button.text-copy-action,
.result button.text-copy-action {
  /* display: none; */
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.3rem;
  background-color: transparent;
  color: rgb(51, 51, 51);
  border-color: #333333;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border: 0;
}

.result button.text-copy-action:hover{
  opacity: 0.6;
}

.result button.text-copy-action:active {
  opacity: 0.8;
}

.result,
.error {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result p, .error p {
  text-align: left;
}

.error p {
  color: red;
}
