@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body, textarea, input {
  font-family: 'Inter', Gelion, Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
  color: rgb(3, 3, 3);
  font-variant-ligatures: no-common-ligatures;
  letter-spacing: -0.1px;
}

button:hover {
  opacity: .6;
}

button:active {
  opacity: .8;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
